html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.screenread {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* Styles */
html, body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #de352c;
	text-align: center;
	color: #fff;
	line-height: 1;
}
#content {
	height: 100%;
	padding: 0 100px;
	margin: 0 auto;
}
.container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-47%);
	-o-transform: translateY(-47%);
	transform: translateY(-47%);
}
p {
  font-size: 40px;
	font-weight: 700;
	padding-bottom: 15px;
}
h1 {
	font-size: 20px;
	font-weight: 100;
	line-height: 1.4;
	letter-spacing: .5px;
}
.logo {
	width: 350px;
	height: auto;
	width: 150px;
	height: auto;
	margin-bottom: 40px;
}
@media (max-width: 599px) {
	#content {
		padding: 0 30px;
	}
}
